<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Categorías</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">SmartCash</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistics' %}">Estadísticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'suggestions' %}">Sugerencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'goals' %}">Metas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movements' %}">Movimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events' %}">Eventos</a>
                    </li>
                </ul>

                <span class="navbar-text">
		        Bienvenido, {{name}}
		      </span>
            </div>
        </div>
    </div>
</nav>
<br>
<form action="">
    <div class="container">
        <div class="form-text">Creación de categorías
        </div>
        <br>
        <form action="">
            <div class="input-group">
                <span class="input-group-text mb-3">Categoría</span>
                <textarea class="form-control mb-3" aria-label="With textarea"
                          placeholder="Ingrese el nombre de la categoría que quiere crear."
                          name="category_to_create"></textarea>


                <button type="submit" class="btn btn-primary mb-3">Crear categoría</button>
            </div>
            <div class="container">

                {% if created is not None %}
                {% if not created%}
                <p>La categoría fue creada con éxito</p>
                {% else %}
                <p>La categoría a crear ya existe</p>
                {% endif %}
                {% endif %}
                <br>
                <div class="form-text">Categorías creadas: </div>
                <br>
                {% for category in user_categories %}
                <p>{{ category }}</p>
                {% endfor %}
            </div>
        </form>
    </div>
    <br>
</form>

<form action="">
    <div class="container">
        <div class="form-text">Consulta de categorías de movimientos: Ingresa la categoría que quieres consultar y verás
            los movimientos asociados a esa categoría.
        </div>
        <br>
        <form action="">
            <div class="input-group">
                <span class="input-group-text mb-3">Categoría</span>
                <textarea class="form-control mb-3" aria-label="With textarea"
                          placeholder="Ingrese el nombre de la categoría que quiere consultar."
                          name="category"></textarea>


                <button type="submit" class="btn btn-primary mb-3"> Consultar Categoria</button>
            </div>
        </form>
        <ul>
            {% for match in matches %}
            <p>{{match}}</p>
            {% endfor %}
        </ul>
    </div>
    <br>
</form>

</body>
</html>