<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">SmartCash</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'movements' %}">Movimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistics' %}">Estadísticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'suggestions' %}">Sugerencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ahorros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categorías</a>
                    </li>
                </ul>

                <span class="navbar-text">
		        Bienvenido, {{name}}
		      </span>
            </div>
        </div>
    </div>
</nav>

<!-- TERMINA BARRA DE NAVEGACIÓN -->

<br>
<form action="">
    <div class="container">
        <div class="form-text">Registro de ingresos de dinero.</div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text mb-3">Movimiento</span>
            <textarea class="form-control mb-3" aria-label="With textarea" placeholder="nombre"
                      name="income_name"></textarea>

            <span class="input-group-text mb-3">Valor</span>
            <textarea class="form-control mb-3" aria-label="With textarea"
                      placeholder="Valor" name="income_value"></textarea>

            <label class="input-group-text mb-3" for="inputGroupSelect01">Categoría</label>

            <select class="custom-select mb-3" id="inputGroupSelect01" name="income_category">
                <option selected>Categoría</option>
                {% for category in user_categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>

        </div>
    </div>

    <br>

    <div class="container">
        <div class="form-text">Registro de salidas de dinero.</div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text mb-3">Movimiento</span>
            <textarea class="form-control mb-3" aria-label="With textarea" placeholder="nombre"
                      name="exit_name"></textarea>

            <span class="input-group-text mb-3">Valor</span>
            <textarea class="form-control mb-3" aria-label="With textarea"
                      placeholder="Valor" name="exit_value"></textarea>

            <label class="input-group-text mb-3" for="inputGroupSelect02">Categoría</label>

            <select class="custom-select mb-3" id="inputGroupSelect02" name="exit_category">
                <option selected>Categoría</option>
                {% for category in user_categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>

        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-primary mb-3"> Registrar Movimientos</button>
    </div>
</form>


<br>
<br>
<br>
<div class="container">
    <ul>
        {% for movement in movements %}
        <p>{{movement}}</p>
        {% endfor %}
    </ul>
</div>


</body>
</html>