<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">SmartCash</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'statistics' %}">Estadísticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movements' %}">Movimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'suggestions' %}">Sugerencias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ahorros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categorías</a>
                    </li>
                </ul>

                <span class="navbar-text">
		        Bienvenido, {{name}}
		      </span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <img src="{% static 'images/line_chart_entrada.png' %}">
    <br>
    <br>
    <img src="{% static 'images/line_chart_salida.png' %}">
    <br>
    <br>
    <img src="{% static 'images/pie_chart_entrada.png' %}">
    <br>
    <br>
    <img src="{% static 'images/pie_chart_salida.png' %}">
</div>

</body>
</html>